parameters:
    level: max
    paths:
        - %currentWorkingDirectory%/src/
    reportUnmatchedIgnoredErrors: false
    checkMissingIterableValueType: false
    excludes_analyse:
        - %currentWorkingDirectory%/vendor/*
        - %currentWorkingDirectory%/tests/*
    autoload_files:
        - %currentWorkingDirectory%/vendor/autoload.php
    ignoreErrors:
        -
            message: ~If condition is always true~
            path: %currentWorkingDirectory%/src/voku/cache/AdapterMemcached.php
        -
            message: ~Right side of && is always true~
            path: %currentWorkingDirectory%/src/voku/cache/AdapterMemcached.php
        - '/PHPDoc tag @return with type array\|false is not subtype of native type array\./'
        - '/Result of \&\& is always false\./'
        - '/Predis\\Client/'
        - '/Memcache(d)*/'
        - '/MEMCACHE_COMPRESSED/'
        - '/Function checkForDev not found\./'
        - '/Function msgpack/'
        - '/function unserialize expects array/'
