parameters:
    level: 8
    paths:
        - %currentWorkingDirectory%/src/
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '/always false/'
        - '/always evaluate to true/'
        - '/always true/'
        - '/Predis\\Client/'
        - '/Symfony\\Component\\VarExporter/'
        - '/Memcache(d)*/'
        - '/MEMCACHE_COMPRESSED/'
        - '/Function checkForDev not found\./'
        - '/Function msgpack/'
        - '/function unserialize expects array/'
